{{set . "title" "DoCSoC Climate Server"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#D3D3D3">
  <div class="container">
    <div class="row" style="text-align: center">
      <h1>DoC Climate Server</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="row">
			<h2>Welcome to the climate server!</h2>
			<p>This project is a joint project between George Gabriel (gg215) and Chris Battarbee (cjb216) to monitor the quality of air in the labs. As a bonus we also got to learn golang! Feel free to visit the repo and contribute: <a href="https://github.com/docsocsf/lab-climate">Github Repo!</a></p>
    </div>
  </div>
</div>

{{template "footer.html" .}}
